.toolbar-top-fixed {
    position: fixed;
    z-index: 40;
}

.color-white {
    color: white;
}

.max-height-comments {
    max-height: 200px;
}

.bg-comment {
    background-color: #F9F9F9;
}

.bg-comment-new {
    background-color: #F9F9F9;
}

.bg-list-item {
    &:hover {
        background-color: #F3F3F3;
    }
}

.dialog-create-note {
    min-width: 700px;
    min-height: 400px;
}

.w-100 {
    width: 100%;
}

.w-700px {
    width: 700px;
}

.w-95 {
    width: 95%;
}

#logo-healfies {
    padding-bottom: 40px;
}

.pointer-cursor {
    cursor: pointer;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #FFF;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #E8E9F2;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #E8E2F2;
}

.max-width-app {
    margin: 0 auto;
    padding-left: 0px;
    max-width: 650px;
}

.page-footer {
    background-color: #553983;
    min-height: 120px;
    max-height: 120px;
    padding-top: 5px;
}

md-input-container .md-input .md-no-border {
    border: none;
}

md-input-container {
    position: relative;
    padding: 2px;
    margin: 6px 0;
    vertical-align: middle;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
}

.avatar-shared {
    float: left;
    margin-right: 1em;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    min-height: 42px;
    min-width: 42px;
    max-height: 42px;
    max-width: 42px;
}

.w-150 {
    width: 150px;
}

.p-l-2 {
    padding-left: 2px;
}

.p-l-0 {
    padding-left: 0px;
}

.p-l-5 {
    padding-left: 5px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-t-3 {
    padding-top: 3px;
}

.p-t-5 {
    padding-top: 5px;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-b-5 {
    padding-bottom: 5px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.p-0 {
    padding: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-p-5 {
    margin-left: 5%;
}

.m-l-p-10 {
    margin-left: 10%;
}

.m-l-p-15 {
    margin-left: 15%;
}

.m-r-p-5 {
    margin-right: 5%;
}

.m-r-p-10 {
    margin-right: 10%;
}

.m-r-p-15 {
    margin-right: 15%;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-70 {
    margin-top: 70px;
}

.files-show {
    height: 80px;
    width: 80px;
}

.h-60 {
    height: 60px;
}

.label-username {
    min-width: 100%;
}

.overflow-auto {
    overflow: auto;
}

.btn-note-float {
    position: fixed;
    right: 60px;
    bottom: 80px;
    margin-bottom: 0;
    z-index: 998;
    vertical-align: middle;
}

.md-button .md-icon-button {
    margin: 0px;
}

.main-page {
    min-width: 100%;
    min-height: 100%;
}

.md-icon-more-option {
    color: #1D1F2E;
}

.md-fab-more-option {
    background-color: #F9F9F9;
}

