<md-card ng-hide="vm.notesList === undefined" class="md-whiteframe-3dp">
  <md-card-header class="pointer-cursor p-l-2" ng-click="vm.createNote()">
    <md-card-avatar>
      <img class="avatar-shared md-user-avatar " ng-src="{{main.currentUser.photo}}" />
    </md-card-avatar>
    <md-card-header-text class="m-l-0 ">
      <md-input-container class="md-block ">
        <span class="md-body-1">Click here to create a new note!</span>
      </md-input-container>
    </md-card-header-text>
  </md-card-header>
</md-card>
<span flex="5"></span>
<div layout="row" layout-align="center center">
  <md-progress-circular class="md-accent md-hue-1" ng-show="vm.notesList === undefined" md-mode='indeterminate' md-diameter="200"></md-progress-circular>
</div>
<div ng-include src=" '/views/components/notes-list.html' "></div>
