<md-list class="bg-comment p-0" ng-repeat="comment in note.comments track by $index">
  <md-list-item class="md-2-line bg-list-item">
    <md-card-avatar class="m-l-0">
      <img class=" md-avatar " ng-src="{{comment.created_by.photo}} " />
    </md-card-avatar>
    <div class="md-list-item-text " layout="column ">
      <span class="md-caption">{{comment.created_by.name}}</span>
      <span class="md-accent md-caption">({{comment.created_at | date: 'medium'}})</span>
      <p class="md-body-1">
        {{comment.content}}
      </p>
    </div>
  </md-list-item>
</md-list>
<md-divider class="bg-comment"></md-divider>
