<md-dialog class="dialog-create-note">
	<md-toolbar>
		<div class="md-toolbar-tools color-white">
			<h2>Create Note</h2>
			<span flex></span>
		</div>
	</md-toolbar>
	<form name="formEntry">
		<md-dialog-content class="p-l-15 p-r-15 p-b-10 p-t-15 ">
			<div layout="column" layout-fill layout-align="start start" class="p-t-20">
				<span flex="5"></span>
				<md-input-container layout-fill>
					<label>Content</label>
					<textarea placeholder="Write here notes, symptoms, how do you feed, attach exams, test results or anything relevant to your health history." ng-model="newNote.content" required rows="5" md-select-on-focus></textarea>
					<div ng-messages="formEntry.newUser.name.$error">
						<div ng-message="required">required.</div>
					</div>
				</md-input-container>
				<md-chips class="w-100" ng-model="newNote.folders" readonly="false" placeholder="Enter a folder" delete-button-label="Remove folder" delete-hint="Press delete to remove folder" secondary-placeholder="+Folder">
				</md-chips>
				<br/>
				<md-contact-chips class="w-100" ng-model="newNote.shares" md-contacts="peopleList" md-contact-name="name" md-contact-image="photo" md-require-match="true" filter-selected="ctrl.filterSelected" placeholder="Share">
				</md-contact-chips>
				<br/>
				<br/>
				<md-input-container class="w-95">
					<label>Files</label>
					<input type="text" ng-model="fileTemp" placeholder="Add a file link here" />
					<md-icon class="material-icons pointer-cursor" ng-click="addFileLink()">add</md-icon>
				</md-input-container>
				<div layout="row" layout="start center" class="overflow-auto w-700px">
					<div layout="column" class="p-r-10" ng-repeat="file in newNote.files track by $index">
						<a ng-href="{{file}}" target="_blank">
							<img class="cursor-pointer files-show" ng-src="{{file}}" />
							<md-tooltip>{{file}}</md-tooltip>
						</a>
						<md-icon class="material-icons pointer-cursor" ng-click="removeFileLink($index)">close</md-icon>
					</div>
				</div>
				<span flex></span>
			</div>
		</md-dialog-content>
		<div class="md-actions">
			<md-button ng-click="cancel()" class="md-raised md-button md-accent md-default-theme w-150">
				<span>CANCEL</span>
			</md-button>
			<md-button ng-disabled="formEntry.$invalid" ng-click="saveNote()" class="md-raised md-button md-primary md-default-theme w-150">
				<span class="color-white">SAVE</span>
			</md-button>
		</div>
	</form>
</md-dialog>
