<md-card-header class="bg-comment-new p-l-2">
  <md-card-avatar>
    <img class="avatar-shared md-user-avatar " ng-src="{{main.currentUser.photo}}" />
  </md-card-avatar>
  <md-card-header-text class="p-l-10">
    <md-progress-circular class="md-accent md-hue-1" ng-hide="vm.finishLoad" md-mode='indeterminate' md-diameter="50"></md-progress-circular>
    <md-input-container class="md-block " md-no-float>
      <form ng-submit="vm.createComment(note, $index)">
        <input type="text" ng-model="vm.newComment[$index]" ng-show="vm.finishLoad" class="md-no-border" placeholder="Type here to comment, Press ENTER to send. " required>
      </form>
    </md-input-container>
  </md-card-header-text>
</md-card-header>
