<md-card class="m-b-20 md-whiteframe-3dp" ng-repeat="note in vm.notesList.slice().reverse() track by $index" ng-hide="vm.notesList === undefined">
  <md-card-header>
    <md-card-avatar>
      <img class="md-user-avatar" ng-src="{{note.person.photo}}" />
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">{{note.person.name}}</span>
      <div>
        <span class="md-caption">({{note.post_time | date: 'medium'}})</span>
      </div>
    </md-card-header-text>
  </md-card-header>
  <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
  <md-card-content>
    <span class="md-body-1">
      {{note.content}}
    </span>
  </md-card-content>
  <md-card-header class="overflow-auto" ng-if="note.files !== undefined">
    <div class="p-r-5" layout="column" layout-align="center center" ng-repeat="file in note.files track by $index">
      <a ng-href="{{file}}" target="_blank">
        <img class="cursor-pointer files-show" ng-src="{{file}}" />
        <md-tooltip>{{file}}</md-tooltip>
      </a>
      <md-button ng-href="{{file}}" target="_blank">
        <md-icon class="material-icons ">cloud_download</md-icon>
        <md-tooltip>Download</md-tooltip>
      </md-button>
    </div>
  </md-card-header>
  <div layout-fill layout="row" layout-align="between center">
    <md-card-actions layout="row" layout-align="start center">
      <md-card-avatar ng-repeat="sharedPerson in note.shares track by $index">
        <img class="avatar-shared md-user-avatar " ng-src="{{sharedPerson.photo}}" />
        <md-tooltip>{{sharedPerson.name}}</md-tooltip>
      </md-card-avatar>
    </md-card-actions>
    <span flex></span>
    <md-card-actions layout="row" layout-align="end center" class="m-b-15">
      <md-button class="md-fab md-mini md-accent m-l-10 ">
        <md-icon class="material-icons ">share</md-icon>
      </md-button>
      <span class="p-l-10"></span>
      <md-menu md-position-mode="target-right target ">
        <md-button aria-label="More Actions " class="md-fab md-mini md-fab-more-option " ng-click="vm.openMoreOptions($mdOpenMenu, $event) ">
          <md-icon md-menu-origin class="material-icons md-icon-more-option ">more_vert</md-icon>
        </md-button>
        <md-menu-content width="2 ">
          <md-menu-item>
            <md-button>
              <md-icon md-menu-align-target class="material-icons ">mode_edit</md-icon>
              Edit
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button>
              <md-icon class="material-icons ">close</md-icon>
              Remove
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-card-actions>
  </div>
  <md-card-actions layout="row" layout-align="start center" class="m-b-15" ng-if="note.folders !== undefined">
    <div ng-repeat="folder in note.folders" class="p-r-5">
      <div class="chip">
        <md-icon class="material-icons ">folder_open</md-icon>
        <span>{{folder}}</span>
      </div>
    </div>
  </md-card-actions>
  <div ng-include src=" '/views/components/comments.html' " class="overflow-auto max-height-comments"></div>
  <div ng-include src=" '/views/components/new-comment.html' "></div>
</md-card>
