<footer flex layout="row" layout-align="center center" class="page-footer white">
	<span flex="10"></span>
	<div layout="column" class="md-caption color-white" layout-align="center start">
		<span><b>Marco Antônio de Almeida Junior</b></span>
		<span>marco.almeida.junior@gmail.com</span>
		<span>(48) 9641-1868</span>
	</div>
	<span flex></span>
	<div layout layout-align="center end" class="p-r-20">
		<img src="/images/logo_healfies2.jpg" class="h-60" />
	</div>
	<span flex="10"></span>
</footer>
