<!-- Header -->
<div flex layout="column" class="main-page main-content animate-if">
	<div class="main-top-bar">
		<md-toolbar class="toolbar-top-fixed">
			<div class="md-toolbar-tools">
				<img class="h-60" src="images/logo_healfies2.jpg" border="0" />
				<span flex></span>
				<div layout="row" layout-align="end center">
					<span class="md-body-1 color-white p-r-10">{{main.currentUser.name}}</span>
					<img class="avatar-shared md-user-avatar " ng-src="{{main.currentUser.photo}}" />
				</div>
				<span flex="5"></span>
			</div>
		</md-toolbar>
	</div>
	<!-- Content Search -->
	<div class="main-content m-t-70">
		<!-- Main Content -->
		<div flex layout="column " layout-fill class="max-width-app p-b-40">
			<div ui-view class="animate-if " name="content "></div>
		</div>
		<span flex></span>
	</div>
	<md-button class="btn-note-float md-fab" ng-controller="NotesListController as noteCtrl" ng-click="noteCtrl.createNote($event)">
		<md-icon class="material-icons ">edit</md-icon>
		<md-tooltip>Create new note</md-tooltip>
	</md-button>
</div>
<div class="page-footer white " ng-include src=" '/views/footer.html' "></div>
